*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 77%;
    padding: 5px;
    margin: 0px 55px;
    background: url(../imagenes/fon2.svg);
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 5px;
    border: 2px solid rgb(146, 145, 145);
    border-radius: 7px;
    align-items: center;
    align-content: center;
    text-align: center;
}


.formulario{
    background-color: #E8E8E8;
    background-size: cover;
    background-attachment: fixed;
    color: #505050;
    align-items: center;
    align-content: center;
    text-align: center;
}

@media(min-width: 789px)
{
    .formulario{
        margin: auto;
        width: 450px;
        margin-top: 10px;
        border-radius: 5%;
        box-shadow: 10px 10px 112px 0px rgb(44, 44, 44);;
    }
}

h1{
    text-align: center;
    color: #4e4e4e;
    font-size: 40px;
}

input[type="text"],
input[type="number"],
input[type="email"]{
    font-size: 18px;
    color: #131313;
    width: 80%;
    padding: 10px;
    border-radius: 1px;
    border: none;
    background:none;
}

.p{
    color: #414141;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: 0 1.2rem;
    border-radius: 10px 10px;

}

.button{
    border: none;
    width: 45%;
    font-size: 20px;
    background:#FF7701;
    color: aliceblue;
    padding:15px 25px;
    border-radius: 5px;
    cursor: pointer;
    border-top: center;
    margin: 0px 130px;
    font-family: Century Gothic, sans-serif;
}
.button:hover{
    background: #3b3b3b;
}

p{
    text-align: center;
    font-size: 15px;

}


