[class^="imghvr-"],
[class*=" imghvr-"] {
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color: #FF8F63;
    color: #fff;
    overflow: hidden;
    border-radius: 6px 6px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

[class^="imghvr-"] > img,
[class*=" imghvr-"] > img {
    vertical-align: top;
    max-width: 100%;
}

[class^="imghvr-"] figcaption,
[class*=" imghvr-"] figcaption {
    background-color: #4b4b4b;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    border-radius: 6px 6px;
}

[class^="imghvr-"],
[class*=" imghvr-"],
[class^="imghvr-"]:before,
[class^="imghvr-"]:after,
[class*=" imghvr-"]:before,
[class*=" imghvr-"]:after,
[class^="imghvr-"] *,
[class*=" imghvr-"] *,
[class^="imghvr-"] *:before,
[class^="imghvr-"] *:after,
[class*=" imghvr-"] *:before,
[class*=" imghvr-"] *:after {
    box-sizing: border-box;
    transition: all 0.35s ease;
}


[class^="imghvr-zoom-out"] figcaption,
[class*=" imghvr-zoom-out"] figcaption {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    opacity: 0;
}

[class^="imghvr-zoom-out"]:hover figcaption, [class^="imghvr-zoom-out"].hover figcaption,
[class*=" imghvr-zoom-out"]:hover figcaption,
[class*=" imghvr-zoom-out"].hover figcaption {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    transition-delay: 0.35s;
}

/* imghvr-zoom-out-up
   ----------------------------- */
.imghvr-zoom-out-up:hover > img, .imghvr-zoom-out-up.hover > img {
    -webkit-animation: imghvr-zoom-out-up 0.4025s linear;
            animation: imghvr-zoom-out-up 0.4025s linear;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes imghvr-zoom-out-up {
    50% {
        -webkit-transform: scale(0.8) translateY(0%);
                transform: scale(0.8) translateY(0%);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(0.8) translateY(-150%);
                transform: scale(0.8) translateY(-150%);
        opacity: 0.5;
    }
}

@keyframes imghvr-zoom-out-up {
    50% {
        -webkit-transform: scale(0.8) translateY(0%);
                transform: scale(0.8) translateY(0%);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(0.8) translateY(-150%);
                transform: scale(0.8) translateY(-150%);
        opacity: 0.5;
    }
}

.demo {
    display: inline-block;
    width: 320px;
    padding: 10px;
    box-sizing: border-box;
}

.imghvr-zoom-out-up img{
    border-radius: 6px 6px;
}