body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}
.cabecera{
    background: blueviolet;
    color: aliceblue;
}
.caja img{
    max-width: 100%;
    border-radius: 8px;
    height: 300px;
    width: 460px;
    display: block;
    margin: 0 auto;
    padding: 5px;
}
.caja{
    border: 1px solid #999;
    box-sizing: border-box;
    display: inline-block;
    margin: 2%;
    padding: 1%;
    width: 28.9%;
    height: 615px;
    border-radius: 5px;
    vertical-align: top;
    background: rgb(73, 69, 69);
}
.caja .h3propi{
    text-align: center;
    padding: 1px;
    color: coral;
}
.h3propi::first-letter{
    font-size: 1.8rem;
}
.caja p{
    text-align: center;
    color: aliceblue;
    text-align: justify;
    width: 95%;
    
}
.caja hr{
    color: aliceblue;
    margin: 30px 50px;
}
